<div class="section-body">
    <div class="vertical-nav">
        <ul>
            <h4>Browse</h4>
            <li><a href="#">Top Books</a></li>
            <li><a href="#">Discover</a></li>
            <li><a href="#">Categories</a></li>
        </ul>
    </div>
    <div class="vertical-nav">
        <ul>
            <h4>Your Books</h4>
            <li><a href="#">Top Books</a></li>
            <li><a href="#">Discover</a></li>
            <li><a href="#">Categories</a></li>
        </ul>
    </div>
    <div class="vertical-nav">
        <ul>
            <h4>Shelves</h4>
            <li><a href="#">Your Shelves</a></li>
        </ul>
    </div>
    <button type="button" class="btn btn-success">Create a shelf</button>
</div>